{% extends 'portal/base.html' %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        $(function(){
            {% for name, analyzer in analyzers %}
                $('#analysis-container').append('' +
                        '<div id="{{ name|slugify }}">' +
                        '   <div class="col-md-6">' +
                        '       <h2 style="margin:50px 20px;">' +
                        '           <i class="fa fa-spinner fa-spin"></i> ' +
                        '           Loading: {{ name }} ' +
                        '       </h2>' +
                        '   </div>' +
                        '</div>');
                $.get('{% url "cell_slider_data_render_analysis_template" %}?analyzer={{ analyzer }}&name={{ name|slugify }}', function(data){
                    $('#' + data.name).html(data.template);
                    $.getScript('{% url "cell_slider_data_render_analysis_javascript" %}?analyzer=' + data.analyzer_name);
                });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{% url 'portal_home' %}">Home</a></li>
            <li class="active">Cell Slider Dashboard</li>
        </ol>

        <div class="page-header">
            <h1>Cell Slider Dashboard</h1>
            <p>Import, view and query classification data sent from CSA</p>
        </div>

        <div class="alert alert-success media">
            <i class="fa fa-table fa-4x media-object pull-left"></i>
            <div class="media-body">
                {% if current_data_uploaded %}
                    <h4 class="media-heading">Currently viewing data uploaded on {{ current_data_uploaded }}</h4>
                {% else %}
                    <h4 class="media-heading">There is no data in the system yet</h4>
                {% endif %}
                <p>
                    You can upload a new data file or reload any previously uploaded data using the data manager.
                </p>
                <p>
                    <a href="{% url 'cell_slider_data_classifications_import' %}" class="btn btn-success">
                        Data Manager <i class="fa fa-arrow-circle-o-right"></i>
                    </a>
                </p>
            </div>
        </div>

        <hr />

        <h2>Analysis</h2>
        <p class="text-info">Analysis shown here can be configured in the settings file.</p>

        <div id="analysis-container"></div>

    </div>
{% endblock %}