{% extends 'domain/pages/classifications_import.html' %}

{% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'portal_home' %}">Home</a></li>
            <li><a href="{% url 'rto_data_dashboard' %}">RTO Dashboard</a></li>
            <li class="active">Data Manager</li>
        </ol>
{% endblock %}

{% block page_header %}
        <div class="page-header">
            <h1>RTO Data Management</h1>
            <p>Change the data that the current analysis is being run against</p>
        </div>
{% endblock %}